* {
    font-family: "Roboto", sans-serif;
}


body {
    background: #c31432;
    background: -webkit-linear-gradient(to right, #240b36, #c31432);
    background: linear-gradient(to right, #240b36, #c31432);
}

button {
    transition: 0.3s all;
    display: block;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
    color: white;
    outline: none;
    width: 10%;
    font-size: 30px;
    min-width: 200px;
}


button:active {
    background: rgba(255, 255, 255, 0.24);
}


button:hover {
    transform: scale(1.1);
}

button:disabled
{
    background: rgba(255, 255, 255, 0.24);
}


.textbox {
    transition: 0.3s all;
    display: block;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    color: white;
    outline: none;
    width: 20%;
    font-size: 30px;
    min-width: 400px;
}


.textbox::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.textbox:hover {
    width: 22%;
}

.textbox:disabled
{
    background: rgba(255, 255, 255, 0.24);
}

.div {
    display: flex;
    justify-content: center;
}

#Title {
    font-size: 70px;
    color: white;
    margin-top: 50px;
    margin-bottom: 150px;
}

#menu-div {
    background-color: rgba(0, 0, 0, 0.555);
    position: relative;
    display: flex;
    -webkit-box-align: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    justify-content: left;
    border-radius: 10px;
}

.menu-option {
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
    transition: 0.3s all;
    display: block;
    border: none;
    background: none;
}

.select-token{
    width: 80px;
    height: 47px;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border:rgb(0, 0, 0) solid 1px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 5px 5px rgba(145, 145, 145, 0.4);
}

.select-token-div{
    display: flex;
    justify-content: center;
}

.buttonSelected {
    margin-top: 2px;
    margin-left: 1px;
    width: 80px;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border:rgb(0, 0, 0) solid 1px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 5px 5px rgba(145, 145, 145, 0.4);
}

#current-menu {
    color: rgb(188, 129, 255);
    transform: scale(1.2);
}

#label {
    font-size: 30px;
    color: rgb(0, 0, 0);
}